<div class= "demo">
 <h1>Angular Material Demo</h1>
<div>
   <h2>Material Buttons Demo</h2>
<button mat-button> Click me!</button>
<button mat-raised-button> Click me! </button>
<button mat-flat-button> Click me! </button>
<button mat-mini-fab> Mini </button>
<button mat-fab> Fab </button>
</div>

<div>
  <button color="primary" mat-raised-button> Primary </button>
  <button color="accent" mat-flat-button> Accent </button>
  <button color="warn" mat-fab> Warn </button>
  <button mat-flat-button disabled> Disabled </button>
</div>

<div> 
  <h2> Material Icons Demo </h2>
  <button mat-icon-button >
    <mat-icon>home</mat-icon>
  </button>
  <button mat-icon-button >
    <mat-icon>warning</mat-icon>
  </button>
  <button mat-icon-button >
    <mat-icon>light_mode</mat-icon>
  </button>
</div>

<div class= "chips">
  <h2> Material Chips Demo </h2> 
  <mat-chip-list>
    <mat-chip>One</mat-chip>
    <mat-chip>Two</mat-chip>
    <mat-chip color="primary" selected>Primary</mat-chip>
    <mat-chip color="accent" selected>Accent</mat-chip>
  </mat-chip-list>
  </div>
</div>